@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<Form method="POST">
    <div>
        <!----<ul>-->
        <div>
            <div>
                <label for="cedula">Cédula titular</label>
            </div>
            <div>
                <input type="text" id="cedula" name="numero_cedula_usuario" />
            </div>
        </div>

        <div>
            <div>
                <label for="contrato">Contrato </label>
            </div>
            <div>
                <input type="text" id="contrato" name="numero_contrato_usuario" />
            </div>
        </div>
    
        <button type="submit"> Enviar </button>
    
        <!--
            <li>
        
            <label for="codigo">Inserte el código que recibió</label>
            <input type="text" id="codigo" name="codigo_verificacion_usuario" />
        
            -<textarea id="codigo" name="user_message"></textarea>
            </li>-->
        <!----</ul>-->
    </div>
</Form>
