@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <!----<ul>-->
        <li>
        <label for="contrato">Contrato </label>
        <input type="text" id="contrato" name="numero_contrato_usuario" />
        </li>
        <li>
        <label for="cedula">Cédula titular</label>
        <input type="text" id="cedula" name="numero_cedula_usuario" />
        </li>
        <li>
        <label for="codigo">Inserte el código que recibió</label>
        <input type="text" id="codigo" name="codigo_verificacion_usuario" />
        
        <!---<textarea id="codigo" name="user_message"></textarea>-->
        </li>
    <!----</ul>-->
</div>
